.menu-link > i {
  margin-right: 8px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 1.5384616;
  word-break: break-all;
  word-wrap: break-word;
  color: #606060;
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.aside-nav .nav-item .nav-link.active {
  background-color: #0771CD;
}
.aside-nav .nav-item .nav-link.active .fa {
  color: #fff;
}

.hidden {
  display: none !important;
}

.form-group.is-invalid .react-datepicker-wrapper input {
  border-color: #f64e60;
}

.form-group.is-invalid p.help-block,
.form-group.is-invalid label {
  color: #f64e60;
}

.custom-confirmation-box {
  text-align: center;
}

.custom-confirmation-box .btn-cancel {
  margin-right: 8px;
}

.sorting-list {
  display: block;
  width: 100%;
  height: 75vh;
  white-space: nowrap;
  border: 0;
  background-color: transparent;
  position: relative;
  z-index: 0;
  background-color: #f3f3f3;
  border: 1px solid #efefef;
  border-radius: 3px;
  outline: none;
  overflow: auto;
  border: 1px solid #999;
}

.sorting-list li {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  user-select: none;
  color: #333;
  font-weight: 400;
  float: left;
  padding: 8px;
  background: transparent;
  border: 0;
  width: 350px;
  height: 250px;
}

.sorting-list li img {
  height: 150px;
  width: 266px;
  border: 1px solid;
  object-fit: cover;
  margin-bottom: 8px;
}

.sorting-list li .wrapper-sortable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #efefef;
  white-space: break-spaces;
  box-shadow: 0 0px 20px -10px;
  border-radius: 8px;
}

.custom-datepicker div.react-datepicker-wrapper,
.custom-datepicker div div.react-datepicker__input-container
.custom-datepicker div div.react-datepicker__input-container input {
   width: 100%;
}

.deleted-row {
  background-color: #e55039;
  color: white !important;
}

.deleted-row:hover {
  background-color: #ff6b6b !important;
  color: white !important;
}